
.contact-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
}

.contact-section-title {
    margin-top: 1rem;
    font-size: 2rem;
    font-family: 'Oooh Baby', cursive;
    text-align: center;
}

.contact-form-description {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}