.btn-theme {
  border-radius: 50%;
  border: none;
  color: #ddd;
  background-color: #242526;
  cursor: pointer;
}

.btn-theme:hover {
    background-color: #333;
}

.theme-icon {
    margin: 0.5rem;
}