@import-normalize;

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

a {
  color: #ddd;
  text-decoration: none;
}

a:hover {
  transition: all 0.2s ease-in-out;
  color: #007acc;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.light {
  background-color: #fff;
  color: #18191a;
}

.dark {
  background-color: #18191a;
  color: #ddd;
}
